@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Zen+Dots&display=swap");

@tailwind base;
@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;
    --blue: #006ce7;
    --gray: #eeeeee;
    --monda: "Monda", "sans-serif", "system-ui";
    --zen-dots: "Zen Dots", "sans-serif", "system-ui";
  }

  * {
    font-family: var(--monda) !important;
  }

  .font-zen-dots {
    font-family: var(--zen-dots) !important;
  }

  ::selection {
    @apply bg-blue text-white;
  }

  .min-h {
    @apply min-h-[calc(100dvh-120px)];
  }

  .max-w {
    @apply w-full max-w-screen-lg;
  }

  input:autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000;
    transition: background-color 100000s ease-in-out 0s;
    box-shadow: none;
  }
}

@tailwind components;
@layer components {
  .logo {
    @apply text-2xl tracking-widest uppercase font-bold leading-6 -mb-1.5 text-blue;
    font-family: var(--zen-dots) !important;
  }

  .icon {
    @apply transition-all active:scale-90 rounded-lg size-8 flex flex-col items-center justify-center;
  }
}

@tailwind utilities;

.tox .tox-edit-area::before {
  border-width: 1.5px !important;
  border-radius: 0 !important;
}

.tox-tinymce {
  border: 1.5px solid #0000001a !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: none !important;
  border-bottom: 1.5px solid #0000001a !important;
}

.tox .tox-statusbar {
  border-top: 1.5px solid #0000001a !important;
}
